<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- <ion-button ionicColorPicker
    [colors]="['#C0392B', '#E74C3C', '#9B59B6', '#8E44AD', '#2980B9', '#3498DB', '#1ABC9C', '#16A085', '#27AE60', '#2ECC71']"
    (colorPickerOpen)="eventOccur($event)" (colorPickerClose)="eventOccur($event)" (colorChange)="eventOccur($event)">
    Change Color
    style="{'color': color}"
  </ion-button> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Red</ion-label>
            <ion-input type="number" [(ngModel)]="colorForm.red" min="0" max="256" (ngModelChange)="onColorInput()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Green</ion-label>
            <ion-input type="number" [(ngModel)]="colorForm.green"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Blue</ion-label>
            <ion-input type="number" [(ngModel)]="colorForm.blue"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

-->
</ion-content>